/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 14 thg 4, 2026, 08:03:52
    Author     : Admin
*/
.site-footer {
    background-color: #ffffff;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #e1e4e8;
    color: #888;
    font-size: 14px;
}
